<div class="tab">
  <div style="margin-left: 33%; margin-top: 20px"><img style="width: 50%;" src="https://daftengineer.github.io/media_assets/profile.png" /></div>
<div style="color:black; padding-top :40px; padding-left: 30px;margin-left: 20px;margin-top:10px; padding-right:30px;margin-right:20px">
<p style="text-align:justify;">I completed <b>Master of Business Administration</b> degree in <b>Technology Management</b> with Technical specialization in <b>Information Technology</b> with <b>9.11</b> CGPA and <b>Bachelor of Engineering</b> in <b>IT</b> with <b>7.9</b> CGPA from Gujarat Technological University.</p>
<p style="text-align:justify;">I, basically, breath in and out <b>Big Data Analytics and Machine learning</b>. I have the complete repertoire for jobs associated with both the topic. My skill-set includes in-depth understanding of <b>Classical machine learning, Deep Learning (Tensorflow, Keras, SciKit-Learn, Pandas, Spark MLlib), MapReduce Architecture, Hadoop Stack (Flume, HDFS, Cassandra, Hive, HBase, Kafka, Sqoop, YARN, Pig, Parquet, Zookeeper, Spark, Avro) and Advanced Statistics.</b> I comprehensively understand the <b>economics</b> and <b>finance</b>. I can fluently code in <b>JAVA, Scala and Python</b>.</p>
<p style="text-align:justify;">You can check my portfolio projects on this webpage which include project like a <b>scalable machine learning project</b> on <b>optimization of economic credit policy</b> and <b>Stock market prediction using sentiment analytics</b> on news with learning models. I have industrial experience at companies like <b>Larsen and Toubro</b> and <b>Tops Technologies</b>.</p>
  <br />
  <br />
  <br />
<p style="text-align:center;font-size:10px;">All the projects and articles on this website are property of <b>Pratik Sheth</b>. Suggestions are welcomed and reusing is allowed but notification to author is required.</p>
</div>
</div>
<footer class="section-padding--sm footer">
  <ul class="footer__social">
    <li><a class="fa fa-lg fa-envelope-o" href="mailto:{{ site.email }}"></a></li>
    {% for social in site.social %}
      <li><a class="fa fa-lg fa-{{ social[0] }}" href="{{ social[1] }}" target="_blank"></a></li>
    {% endfor %}
  </ul>
</footer>
